<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Cadastro</title>
    <%-include("../partials/cabecalho.ejs")%>
</head>
<body>
    <div class="container">
        <form action="/setors" method="POST">
            <input type="hidden" name="_id" value="<%= setor._id %>">
           <div>
                <label class="form-label">Matrícula</label>
                <input value="<%= setor.descricao %>" required type="text" name="descricao" class="form-control">
           </div>
           <div>
                <label class="form-label">Nome</label>
                <input value="<%= setor.nome %>" required type="text" name="nome" class="form-control">
           </div>
           <div>
                <label class="form-label">estado</label>
                <input value="<%= setor.estado %>" required type="text" name="estado" class="form-control">
           </div>
           <div>
               <input type="submit" value="Salvar" class="btn btn-success">
           </div>
        </form> 
    </div>
         <%-include("../partials/rodape.ejs")%> 
         
         


</body>
</html>