<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de usuarios</title>
    <%-include("../partials/cabecalho.ejs")%>
</head>
<body>


    <div class="container">
        <%if(status == "1"){%>
            <div class="alert alert-success alert-dismissible">
                <button class="btn-close" data-bs-dimiss="alert"></button>
                Cadastrado com <b>sucesso!</b>
            </div>
        <%}%>

    
            <%if(status == "2"){%>
                <div class="alert alert-danger alert-dismissible">
                    <button class="btn-close" data-bs-dimiss="alert"></button>
                    Excluido com <b>sucesso!</b>
                </div>
            <%}%>

            <%if(status == "3"){%>
                <div class="alert alert-warning alert-dismissible">
                    <button class="btn-close" data-bs-dimiss="alert"></button>
                    Editado com <b>sucesso!</b>
                </div>
            <%}%>

        <table class="table table-striped">
            <tr>
                <th>E-mail</th>
                <th>Nome</th>
                
                <th>Detalhar</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
            <% usuarios.forEach(usuario=>{ %>
                <tr>
                    <td><%= usuario.email %></td>
                    <td><%= usuario.nome %></td>
                    
                    <td>
                        <a href="/usuarios/<%= usuario._id %>">
                        <button type="button" class="btn btn-info">Detalhar</button>
                    </a>
                    </td>
                    <td>
                        <a href="/usuarios/cadastrar/<%= usuario._id %>">
                        <button type="button" class="btn btn-warning">Editar</button>
                        </a>
                    </td>
                    <td>
                        <a href="/usuarios/remover/<%= usuario._id %>">
                        <button onclick="return confirm('Deseja realmente exluir?')" type="button" class="btn btn-danger">Excluir</button>
                        </a>
                    </td>
                </tr>
            <%})%>
        </table>
    </div>

    <%-include("../partials/rodape.ejs")%> 
</body>
</html>