<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%-include("../partials/cabecalho_semmenu.ejs")%>
</head>
<body>
    <div>
        <strong>Nome:</strong> <%= funcionario.nome %>
    </div>
    <div>
        <strong>cpf: </strong> <%= funcionario.cpf%>
    </div>
    <div>
        <strong>setor: </strong> <%= funcionario.setor%>
    </div>

    <%-include("../partials/rodape.ejs")%> 
</body>
</html>